#main {
  position: relative;
}
.area-common {
  position: relative;
  width: 1400px;
  margin: auto;
  &.area-about {
    text-align: center;
  }
}

.flip-text-animation {
  @include flexCenter;
  color: #999;
  font-size: 36px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  bottom: 45%;
  .flip {
    overflow: hidden;
    height: 50px;
    > div {
      > div {
        color: #fff;
        padding: 4px 12px;
        height: 45px;
        margin-bottom: 45px;
        display: inline-block;
        background: #42c58a;
      }
      &:nth-child(1) {
        animation: show 5s linear infinite;
        div {
          background: #4ec7f3;
        }
      }
      &:nth-child(3) {
        div {
          background: #dc143c;
        }
      }
    }
  }
}
.about-text {
  color: #999;
  font-size: 36px;
  font-weight: bold;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
