//버튼
.theme-button {
  @include flexCenter;
  position: relative;
  border: 2px solid #dc143c;
  padding: 16px;
  border-radius: 8px;
  background: transparent;
  font-weight: bold;
  color: #dc143c;
  transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  margin: 80px auto 0;
  cursor: pointer;
  .button-text {
    font-size: 1.6em;
  }
  &:before {
    @include pseudoElement;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #dc143c;
    border-radius: 8px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  }
  &:hover {
    color: white;
    border: 1px solid #dc143c;
    &:before {
      transform: scaleX(1);
    }
  }
}

.sub-button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  &:before {
    left: 0;
    top: 0;
  }
  &:after {
    right: 0;
    bottom: 0;
  }
  &:before,
  &:after {
    position: absolute;
    @include pseudoElement;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width 0.6s ease-in-out;
  }
  &:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    &:before,
    &:after {
      width: 100%;
    }
  }
}

//탭
$red: #dc143c;
$yellow: #f1b00f;
$grey: #cccccc;

$num-of-tabs: 5;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}
.brands-wrap {
  height: 36vw;
}
.tab-wrap {
  width: 100%;
  position: relative;
  display: flex;
  background-color: $red;
  input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    &:checked {
      + .tab-label-content {
        label {
          color: rgba(255, 255, 255, 1);
        }
        .tab-content {
          display: block;
        }
      }
    }
    @include tabs;
    &:first-of-type {
      &:checked {
        ~ .slide {
          left: 0;
        }
      }
    }
  }

  label {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.2s ease;
    width: 100%;
    font-size: 1.2em;
  }

  .slide {
    background: $grey;
    width: calc(100% / #{$num-of-tabs});
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
  }

  .tab-label-content {
    width: 100%;
    .tab-content {
      position: absolute;
      top: 100px;
      left: 16px;
      width: 100%;
      display: none;
    }
  }

  .image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 30vw;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    a {
      display: block;
      img {
        position: absolute;
        right: 0;
        width: 140%;
        height: 100%;
        transition: all 2s ease-out;
      }
    }
    &:hover {
      img {
        transform: translateX(20%);
      }
    }
  }
}

// swiper
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f1b00f;
}
