html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
}

.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 80px;
  color: white;
  .menu {
    margin-right: 32px;
    a {
      color: white;
    }
  }

  .outer-menu {
    width: 70px;
    .checkbox-toggle {
      position: relative;
      z-index: 5;
      cursor: pointer;
      width: 50px;
      height: 50px;
      margin-left: 20px;
      opacity: 0;
      &:checked {
        & + .hamburger {
          > div {
            transform: rotate(135deg);
            &:before,
            &:after {
              top: 0;
              transform: rotate(90deg);
            }
            &:after {
              opacity: 0;
            }
          }
        }

        & ~ .sidemenu_container {
          pointer-events: auto;
          visibility: visible;
          .inner_wrap {
            visibility: visible;
            transform: scale(1);
            transition-duration: 0.75s;
            .inner_content {
              overflow: hidden;
              opacity: 1;
              transition: opacity 0.4s ease 0.4s;
            }
          }
        }
      }

      &:hover + .hamburger {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
      }

      &:checked:hover + .hamburger > div {
        transform: rotate(225deg);
      }
    }

    .hamburger {
      @include flexCenter;
      position: absolute;
      top: 50%;
      right: 3%;
      z-index: 1;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      padding: 10px;
      background: #ef151e;
      border-radius: 10px;
      cursor: pointer;
      transition: box-shadow 0.4s ease;
      backface-visibility: hidden;
      > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: white;
        transition: all 0.4s ease;
        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: 1;
          top: -10px;
          left: 0;
          width: 100%;
          height: 2px;
          background: inherit;
          transition: all 0.4s ease;
        }
        &:after {
          top: 10px;
        }
      }
    }

    .sidemenu_container {
      @include flexCenter;
      width: 100vw;
      height: 100%;
      pointer-events: none;
      visibility: hidden;
      overflow: hidden;
      backface-visibility: hidden;
      outline: 1px solid transparent;
      > .inner_wrap {
        visibility: hidden;
        @include flexCenter;
        width: 200vw;
        height: 200vw;
        background: #e3f2fd;
        border-radius: 50%;
        transition: all 0.4s ease;
        flex: none;
        transform: scale(0);
        backface-visibility: hidden;
        overflow: hidden;
        > .inner_content {
          @include flexCenter;
          width: 100vw;
          height: 100vh;
          z-index: 10;
          opacity: 0;
          transition: opacity 0.4s ease;
          overflow-y: auto;
          flex: none;
        }
      }
    }
  }

  .sidemenu {
    width: 70px;
    text-align: center;
    .sidemenu_container {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: white;
      height: 100vh;
      .menu_container {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        .depth1 {
          @include flexCenter;
          position: fixed;
          top: 50%;
          width: 100%;
          transform: translateY(-50%);
          ul {
            width: 86%;
            .depth1_title {
              display: flex;
              position: relative;
              width: 100%;
              margin-bottom: 20px;
              display: block;
              font-size: 24px;
              font-weight: bold;
              text-align: left;
              &:hover,
              &:focus {
                .depth2 {
                  @include flexCenter;
                }
              }
              .depth2 {
                display: none;
                position: fixed;
                top: 0;
                left: 25vw;
                width: 50%;
                ul {
                  font-size: 16px;
                  li {
                    margin-bottom: 18px;
                    a {
                      display: block;
                      font-size: 18px;
                      font-weight: 500;
                    }
                  }
                }
              }
              .menu-visual {
                position: fixed;
                top: 0;
                width: 39.5vw;
                height: 100vh;
                transform: translateY(-35%);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
              }
              &:nth-child(1) {
                .menu-visual {
                  background-image: url("https://www.cj.co.kr/resources/img/about/aboutus_01.jpg");
                }
              }
              &:nth-child(2) {
                .menu-visual {
                  background-image: url("https://www.cj.co.kr/cj_files/kfood/visual/201911/1574744264999_0.jpg");
                }
              }
              &:nth-child(3) {
                .menu-visual {
                  background-image: url("https://www.cj.co.kr/resources/img/visual/innovation_open.jpg");
                }
              }
              &:nth-child(4) {
                .menu-visual {
                  background-image: url("https://www.cj.co.kr/resources/img/kfoodlife/kitchen_introduce_11.jpg");
                }
              }
              &:nth-child(5) {
                .menu-visual {
                  background-image: url("https://www.cj.co.kr/resources/img/kfoodlife/kitchen_introduce_01.jpg");
                }
              }
              &:nth-child(6) {
                .menu-visual {
                  background-image: url("http://tong.visitkorea.or.kr/cms/resource/33/2617333_image2_1.jpg");
                }
              }
            }
          }
        }
      }
    }
  }

  &.bg-header {
    background: white;
    box-shadow: 0 1px 24px 0 #999999;
    .menu a {
      color: #1a1a1a;
    }
  }
}

#header,
#footer {
  width: 100%;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    height: 100%;
    margin: 0 auto;
  }
  .logo a {
    .logoImg {
      display: block;
      width: 165px;
      height: 63px;
      background: url("http://www.sisajournal-e.com/news/photo/202011/225589_89310_3212.png")
        center no-repeat;
      background-size: contain;
      font-size: 0;
      text-indent: -9999px;
    }
  }
  .menu {
    margin-left: auto;
    ul {
      @include flexCenter;
      li {
        margin: 0 16px;
        font-size: 1.286em;
      }
    }
  }
  .lang {
    .depth {
      @include flexCenter;
      color: white;
      background: #ef151e;
      position: relative;
      font-size: 1.286em;
      perspective: 1000px;
      z-index: 10;
      padding: 10px;
      .dropdown_menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        perspective: 1000px;
        z-index: -1;
        li {
          display: none;
          color: white;
          background: #ef151e;
          font-size: 0.8em;
          padding: 10px 8px;
          opacity: 0;
          &:hover {
            background: #b71c1c;
          }
        }
      }
      .dropdown_menu--animated {
        display: none;
        li {
          display: block;
          opacity: 1;
        }
      }
      .dropdown_menu-3 {
        @for $i from 1 through $itemLength {
          @if $i < 4 {
            .dropdown_item-#{$i} {
              transform-origin: top center;
              animation: rotateZ 300ms ($i * 80ms) ease-in-out forwards;
            }
          } @else {
            .dropdown_item-#{$i} {
              transform-origin: top center;
              animation: translateX 300ms ($i * 80ms) ease-in-out forwards;
            }
          }
        }
      }
      &:hover {
        cursor: pointer;
        .dropdown_menu {
          li {
            display: block;
          }
        }
      }
      &:hover {
        display: flex;
        .dropdown_menu--animated {
          display: block;
        }
      }
    }
  }
}

#visual {
  width: 100vw;
  height: 100vh;
  .visualSwiper {
    overflow-x: hidden;
    height: 100%;
    .swiper-slide {
      position: relative;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      h2 {
        position: absolute;
        bottom: 140px;
        left: 10%;
        font-size: 24px;
        font-weight: 500;
        color: white;
      }
      &:nth-child(1) {
        background-image: url("https://www.cj.co.kr/resources/img/museum/slider_theater_5.jpg");
      }
      &:nth-child(2) {
        background-image: url("https://www.cj.co.kr/cj_files/kfood/visual/201912/1577336390141_0.jpg");
      }
      &:nth-child(3) {
        background-image: url("https://www.cj.co.kr/resources/img/kfoodlife/info_market_feed_01.jpg");
      }
    }
    .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
      .swiper-pagination-bullet {
        border-radius: 6px;
        width: 60px;
        height: 2px;
        background-color: white;
        color: white;
        text-shadow: 1px 1px 1px #333333;
        &.swiper-pagination-bullet-active {
          background-color: #f1b00f;
        }
      }
    }
  }
  .swiper-pagination {
    z-index: 1 !important;
  }
}

#main {
  .area-common {
    position: relative;
    width: 100%;
    .inner {
      width: 1400px;
      margin: auto;
    }
  }
}

//animation
@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }

  80% {
    transform: translateZ(10px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}

#footer {
  width: 100%;
  .inner {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    .top {
      display: flex;
      width: 100%;
      .top-left {
        width: 30%;
        .logo a {
          display: block;
          width: 120px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .footer-information {
          address {
            font-style: normal;
            p {
              font-size: 1em;
              line-height: 1.4em;
            }
            .copyright {
              margin: 16px 0;
            }
          }
        }
      }
      .top-right {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        .footerlink {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 14px;
          li {
            a {
              display: block;
              margin: 0 8px;
              line-height: 1.6em;
            }
            &.policy {
              a {
                font-weight: bold;
              }
            }
          }
        }
        .family {
          width: 200px;
          height: 33px;
          margin-left: auto;
          .footer_toggle {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px 12px;
            text-align: left;
            border-bottom: 1px solid #1a1a1a;
            cursor: pointer;
            img {
              margin-left: auto;
              width: 8px;
            }
            &:focus {
              img {
                transform: rotate(180deg);
              }
              ~ .family-group {
                display: block;
                overflow: visible;
                visibility: visible;
              }
            }
          }
          .family-group {
            position: absolute;
            top: -33px;
            z-index: 5;
            width: 200px;
            display: none;
            overflow: hidden;
            visibility: hidden;
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            transition: all 0.5s linear;
            li {
              font-size: 1em;
              border-bottom: 1px solid #cccccc;
              background-color: white;
              p {
                padding: 8px 12px;
                font-weight: bold;
              }
              a {
                display: block;
                padding: 8px 12px;
              }
              &:hover {
                a {
                  background: #eeeeee;
                }
              }
            }
          }
        }
        .corp-link {
          position: absolute;
          bottom: 16px;
          right: 0;
          .certified {
            display: flex;
            align-items: center;
            img {
              height: 60px;
              margin: 0 4px;
            }
          }
          .sns {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 16px 0;
            li {
              width: 40px;
              height: 40px;
              margin: 0 4px;
              a,
              img {
                @include flexCenter;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1400px) {
  #header {
    .menu {
      ul {
        display: none;
      }
    }
    .menu-visual {
      display: none;
    }
    .sidemenu
      .sidemenu_container
      .menu_container
      .depth1
      ul
      .depth1_title
      .depth2 {
      position: initial;
      margin-top: 30px;
    }
  }

  #footer {
    .inner {
      width: 100%;
      .top {
        flex-direction: column;
        .top-left {
          width: 100%;
          text-align: center;
          .logo a {
            margin: auto;
          }
        }
        .top-right {
          margin: auto;
          .family {
            margin: auto;
            .footer_toggle {
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              padding: 8px 12px;
              text-align: left;
              border-bottom: 1px solid #1a1a1a;
              cursor: pointer;
            }
          }
          .corp-link {
            position: relative;
            @include flexCenter;
            bottom: 0;
            margin-top: 20px;
            .certified {
              margin-left: auto;
              img {
                height: 40px;
              }
            }
            .sns li {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  #header {
    height: 60px;
    .logo a {
      .logoImg {
        width: 100px;
        height: 40px;
      }
    }
    .sidemenu {
      width: 50px;
      height: 36px;
    }
    .lang {
      .depth {
        font-size: 1em;
        padding: 6px;
      }
    }
    .outer-menu {
      width: 50px;
      .checkbox-toggle {
        width: 36px;
        height: 36px;
        margin-left: 14px;
      }
      .hamburger {
        width: 16px;
        height: 16px;
      }
    }
  }
}
