#main {
  position: relative;
}
.area-common {
  position: relative;
  width: 1400px;
  margin: auto;
  padding: 80px 0;
  .title {
    font-size: 1em;
  }
  &.area-about {
    text-align: center;
  }
}

.flip-text-animation {
  @include flexCenter;
  color: #999;
  font-size: 36px;
  font-weight: bold;
  //position: relative;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 45%;
  .flip {
    overflow: hidden;
    height: 50px;
    > div {
      > div {
        color: #fff;
        padding: 4px 12px;
        height: 45px;
        margin-bottom: 45px;
        display: inline-block;
        background: #f1b00f;
      }
      &:nth-child(1) {
        animation: show 5s linear infinite;
        div {
          background: #006ecd;
        }
      }
      &:nth-child(3) {
        div {
          background: #dc143c;
        }
      }
    }
  }
}
.about-text {
  color: #999;
  font-size: 36px;
  font-weight: bold;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.about-history {
  position: relative;
  height: 100vh;
  margin: 80px 0;
  .main_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      // opacity: 0;
      transition: all 0.3s;
      z-index: 5;
      &.bg-01 {
        background-image: url("https://www.cj.co.kr/resources/img/visual/brands_submain.jpg");
      }
      &.bg-02 {
        background-image: url("https://www.cj.co.kr/resources/img/visual/about_overview.jpg");
      }
      &.bg-03 {
        background-image: url("https://www.cj.co.kr/resources/img/innovation/food_research.jpg");
      }
      &:hover {
        filter: blur(5px);
      }
    }
  }
  .history-wrap {
    @include flexCenter;
    position: relative;
    height: 100%;
    z-index: 5;
    li {
      flex: 1;
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      a {
        @include flexCenter;
        flex-direction: column;
        position: relative;
        height: 100%;
        color: white;
        > strong {
          @include flexCenter;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 80%;
          height: 100vh;
          font-size: 12em;
          color: #444444;
          opacity: 0.5;
          background: #1a1a1a;
          display: none;
        }
        .txt {
          position: relative;
          top: 0;
          transition: all 0.7s ease-in-out;
          div {
            p {
              font-size: 2.4em;
              font-weight: bold;
            }
            span {
              overflow: hidden;
              display: none;
              font-size: 1.2em;
              margin: 14px 20px;
              line-height: 1.6em;
            }
            button {
              margin-top: 10px;
              strong {
                font-size: 1em;
                color: white;
              }
            }
          }
        }
        &:hover {
          > strong {
            display: flex;
          }
          .txt {
            span {
              display: block;
            }
          }
        }
      }
    }
  }
}

.rolling-box {
  span {
    display: inline-block;
    margin-right: 20px;
    font-size: 2em;
    font-weight: bold;
  }
}
.rolling-wrap {
  overflow: hidden;
  position: relative;
  > div {
    position: absolute;
    left: 0;
    top: 0;
  }
  .rolling-text-box {
    @include flexCenter;
    li {
      font-weight: bold;
      font-size: 2em;
    }
  }
}

@keyframes rollingText {

}
