#main {
  position: relative;
}
.area-common {
  position: relative;
  width: 1400px;
  margin: auto;
  padding: 80px 0;
  word-break: keep-all;
  .title {
    font-size: 2em;
    text-align: center;
    color: #dc143c;
    margin-bottom: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .main-title {
    display: block;
    font-size: 3em;
    text-align: center;
    line-height: 1.5em;
    margin: 16px 0 40px;
    letter-spacing: -1.5px;
  }
  &.area-about {
    text-align: center;
  }
}

.flip-text-animation {
  @include flexCenter;
  color: #999;
  font-size: 2em;
  font-weight: bold;
  //position: relative;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 45%;
  .flip {
    overflow: hidden;
    height: 50px;
    > div {
      > div {
        @include flexCenter;
        height: 50px;
        margin-right: 4px;
      }
      &:nth-child(1) {
        animation: show 5s linear infinite;
      }
    }
  }
}
.about-text {
  color: #999;
  font-size: 2.4em;
  font-weight: bold;
}

@keyframes show {
  0% {
    margin-top: -150px;
  }
  5% {
    margin-top: -100px;
  }
  33% {
    margin-top: -100px;
  }
  38% {
    margin-top: -50px;
  }
  66% {
    margin-top: -50px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -150px;
  }
}

.about-history {
  position: relative;
  height: 100vh;
  margin: 80px 0;
  .main_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
  }
  .history-wrap {
    @include flexCenter;
    position: relative;
    height: 100%;
    z-index: 5;
    .history-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      > div {
        display: none;
        height: 100%;
        transition: all 0.7s ease-in-out;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &.bg01 {
          background-image: url("https://www.cj.co.kr/resources/img/visual/brands_submain.jpg");
        }
        &.bg02 {
          background-image: url("https://www.cj.co.kr/resources/img/visual/about_overview.jpg");
        }
        &.bg03 {
          background-image: url("https://www.cj.co.kr/resources/img/innovation/food_research.jpg");
        }
        &.show {
          display: block;
        }
      }
    }
    .history-item {
      flex: 1;
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      a {
        @include flexCenter;
        flex-direction: column;
        position: relative;
        height: 100%;
        color: white;
        .big-text {
          @include flexCenter;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 80%;
          height: 100vh;
          font-size: 12em;
          color: white;
          opacity: 0.3;
          transition: all 0.2s ease-in-out;
        }
        .txt {
          @include flexCenter;
          visibility: hidden;
          position: relative;
          width: 80%;
          height: 100%;
          top: 0;
          opacity: 0.7;
          background: rgba(0, 0, 0, 0.4);
          text-shadow: 2px 4px 20px #000;
          div {
            p {
              font-size: 2.4em;
              font-weight: bold;
            }
            span {
              overflow: hidden;
              display: none;
              font-size: 1.2em;
              margin: 14px 20px;
              line-height: 1.6em;
            }
            button {
              margin-top: 10px;
              strong {
                font-size: 1em;
                color: white;
              }
            }
          }
        }
      }
      &:hover {
        .big-text {
          display: flex;
          filter: blur(5px);
        }
        .txt {
          visibility: visible;
          span {
            display: block;
          }
        }
      }
    }
  }
}



.area-global {
  overflow: hidden;
  .rolling-box {
    @include flexCenter;
    max-width: 100vw;
    width: 100%;
    transition: all 0.5s linear;
    animation: slide-right 15s infinite;
    transform: translateX(0);
    span {
      display: inline-block;
      flex-shrink: 0;
      margin-right: 20px;
      font-size: 1.4em;
      opacity: 0.4;
      font-weight: bold;
    }
  }
}

@keyframes slide-right {
  fron {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.area-innovation {
  .innovation-wrap {
    @include flexCenter;
    width: 100%;
  }
}

.sustainability-wrap {
  @include flexCenter;
  .fold-box {
    overflow: hidden;
    position: relative;
    flex: 1;
    flex-shrink: 0;
    height: 500px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    .text {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      font-weight: bold;
      transition: all 2s linear;
      color: white;
      .fold-inner {
        opacity: 0;
        padding: 60px 80px 40px;
        span {
          font-size: 1em;
        }
        p {
          padding-top: 14px;
          font-size: 1.2em;
          line-height: 1.4em;
        }
      }
    }
    &:first-child {
      background: url("https://www.cj.co.kr/cj_files/main/centerBanner/201901/1547532754543_0.jpg");
    }
    &:last-child {
      background: url("https://www.cj.co.kr/cj_files/main/centerBanner/201901/1547792998067_0.jpg");
    }

    &:before {
      @include pseudoElement;
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      height: 100%;
      background: white;
      transition: all 2s linear;
    }
    &:after {
      @include pseudoElement;
      position: absolute;
      right: 0;
      top: 0;
      width: 30%;
      height: 100%;
      background: white;
      transition: all 2s linear;
    }

    &:hover {
      .text {
        opacity: 1;
        width: 100%;
        height: auto;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        .fold-inner {
          animation: fade 2s ease;
          animation-delay: 1s;
          animation-fill-mode: forwards;
        }
      }
      &:before {
        left: -30%;
      }
      &:after {
        right: -30%;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//k-food-life
.k-food-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
  .grid-box {
    overflow: hidden;
    height: 300px;
    span {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-size: cover !important;
      filter: grayscale(50%);
      transition: all 1s ease-in-out;
      object-fit: scale-down;
      svg {
        position: absolute;
        left: 60px;
        top: 50px;
        object-position: 20px 20px;
        transition: all 1s ease-in-out;
      }
    }
    &:nth-child(1) {
      span {
        background: url("https://i.pinimg.com/originals/85/77/ba/8577bae9345e84b55c745d5fb91c5602.jpg");
      }
    }
    &:nth-child(2) {
      span {
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuaIqy_WEHLl9vCSbjZwsWbAz27bhXrBKSEV_-_6RWS84P2oFHbEhfu-U5SE0mwr1594E&usqp=CAU");
      }
    }
    &:nth-child(3) {
      span {
        background: url("https://img.insight.co.kr/static/2019/03/14/700/6nw6640bc79i447811ud.jpg");
      }
    }
    &:nth-child(4) {
      span {
        background: url("http://img.tf.co.kr/article/home/2021/08/17/20214311629185095.jpg");
      }
    }
    &:last-child {
      grid-column: 2/4;
      span {
        background: url("https://www.cj.co.kr/cj_files/kfood/visual/201912/1577336117221_0.jpg");
      }
    }
    &:hover {
      span {
        filter: grayscale(0);
        transform: scale(1.1);
        object-position: left-top;
        object-fit: cover;
        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%);
          transform: scale(1.4);
          padding: 0;
        }
      }
    }
  }
}

//SVG TEXT
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

.smartfactory-wrap {
  @include flexCenter;
  .slide-item {
    position: relative;
    width: 50%;
    height: 500px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    transition: all 1s ease-in-out;
    color: white;
    .item-inner {
      position: absolute;
      left: 40px;
      bottom: 40px;
      width: 380px;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.4);
      padding: 16px;
      h2 {
        font-size: 2em;
        margin-bottom: 20px;
      }
      p {
        font-size: 1em;
        line-height: 1.4em;
        margin-top: auto;
      }
    }
    &:first-child {
      background: url("https://www.cj.co.kr/resources/img/museum/slider_hatbahn_hall_5.jpg");
    }
    &:last-child {
      background: url("https://www.cj.co.kr/resources/img/museum/slider_hatbahn_hall_9.jpg");
    }
    &:hover {
      width: 55%;
    }
  }
}

@media all and (max-width: 720px) {
  .area-common {
    .title {
      font-size: 1em;
      margin-bottom: 20px;
    }
    .main-title {
      font-size: 1.8em;
      margin: 16px 0 30px;
      padding: 0 20px;
    }
  }
  .flip-text-animation {
    font-size: 1.4em;
  }
  .about-text {
    font-size: 1.8em;
    padding: 0 20px;
  }
  .tab-wrap label {
    font-size: 1em;
  }
  .sustainability-wrap {
    flex-direction: column;
    height: 500px;
    .fold-box {
      width: 100%;
      .text .fold-inner {
        width: 100%;
        padding: 0;
        span {
          padding: 0 20px;
        }
        p {
          padding: 14px 20px;
        }
      }
    }
  }

  .k-food-grid {
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
    .grid-box {
      height: 200px;
      span {
        svg {
          left: 0;
          top: 20px;
          transform: scale(0.7);
        }
      }
      &:hover {
        left: 10%;
        transform: scale(1);
      }
    }
  }

  .smartfactory-wrap {
    .slide-item {
      height: 300px;
      .item-inner {
        left: 10px;
        bottom: 10px;
        width: 50%;
        h2 {
          font-size: 1.2em;
          margin-bottom: 14px;
        }
        p {
          display: none;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .about-history .history-wrap {
    flex-direction: column;
  }
  .area-brands {
    display: none;
  }
  .smartfactory-wrap {
    flex-direction: column;
    .slide-item {
      width: 100%;
      filter: brightness(0.7);
      &:hover {
        width: 100%;
        filter: brightness(1);
      }
    }
  }
}
